@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;

.header {
  padding: responsive(15, 20) 0 responsive(15, 36);
  position: relative;
  &__logo {
    display: block;
    max-width: responsive(50, 96);
    width: 100%;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__box {
    &-button {
      margin-left: auto;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.active {
      position: absolute;
      inset: 0;
      height: 100vh;
      width: 100%;
      background-color: var(--color-gray-dark);
      padding: toRem(20);
      transform: translateX(0);
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: responsive(20, 40);
  }

  &__item {
    transition: var(--transition);

    &:hover {
      color: var(--color-purple-primary);
    }
  }

  &__burger {
    display: none;
    flex-direction: column;
    gap: toRem(5);
    cursor: pointer;
    padding: toRem(5);
    transition: var(--transition);
    z-index: 3;

    &-span {
      display: block;
      width: toRem(20);
      height: toRem(2);
      background-color: var(--color-white);
      transition: all 0.3s ease-in-out;
      transform-origin: center;
    }

    &.active {
      .header__burger-span:nth-child(1) {
        transform: rotate(45deg) translate(toRem(4), toRem(2));
      }

      .header__burger-span:nth-child(2) {
        opacity: 0;
        transform: scaleX(0);
      }

      .header__burger-span:nth-child(3) {
        transform: rotate(-45deg) translate(toRem(8), toRem(-6));
      }
    }
  }
}

@include mq('lg') {
  .header {
    &__nav {
      position: fixed;
      inset: 0;
      background-color: var(--color-gray-dark);
      padding: toRem(20);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transform: translateX(100%);
      transition: transform 0.4s ease;
      z-index: 2;
    }

    &__container {
      grid-template-columns: auto auto;
    }

    &__list {
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
    }

    &__burger {
      display: flex;
    }

    &__box {
      display: flex;
      align-items: center;
      gap: toRem(20);
      margin: unset;
    }
  }
}

