<ul class="learning">
  <li class="learning__item">
    <svg class="learning__item-icon">
      <use xlink:href="./img/sprite.svg#video"></use>
    </svg>
    <div class="learning__box">
      <div class="text learning__box-value">
        <p>4</p>
      </div>
      <div class="text learning__box-text">
        <p>Відеоуроків</p>
      </div>
    </div>
  </li>
  <li class="learning__item">
    <svg class="learning__item-icon">
      <use xlink:href="./img/sprite.svg#video"></use>
    </svg>
    <div class="learning__box">
      <div class="text learning__box-value">
        <p>02</p>
      </div>
      <div class="text learning__box-text">
        <p>Zoom-сесії</p>
      </div>
    </div>
  </li>
</ul>
