<footer class="footer">
  <div class="footer__container container">
    <div class="footer__inner">
      <div class="footer__box">
        <a href="/" class="footer__logo">
          <img src="img/static/logo.svg" alt="logo company" />
        </a>
        <div class="footer__box-text">
          <p>
            ТОВ "КОНСАЛТИНГ СИНДИКАТ", ЄДРПОУ: 42182763, Адреса: 02000, м. Київ, вул. Паньківська,
            14.
          </p>
        </div>
        <ul class="footer__socials">
          <li class="footer__social">
            <a href="#" class="footer__social-icon">
              <svg>
                <use xlink:href="./img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social">
            <a href="#" class="footer__social-icon">
              <svg class="footer__social-icon">
                <use xlink:href="./img/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social">
            <a href="#" class="footer__social-icon">
              <svg class="footer__social-icon">
                <use xlink:href="./img/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social">
            <a href="" class="footer__social-icon">
              <svg class="footer__social-icon">
                <use xlink:href="./img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__box">
        <div class="footer__info">
          <div class="footer__content">
            <div class="footer__content-title">
              <h3>Контакты</h3>
            </div>
            <svg>
              <use xlink:href="./img/sprite.svg#arrow"></use>
            </svg>
          </div>
          <ul class="footer__list">
            <li class="footer__item">
              <a href="">Головна</a>
            </li>
            <li class="footer__item">
              <a href="">Блог</a>
            </li>
            <li class="footer__item">
              <a href="">Про нас</a>
            </li>
            <li class="footer__item">
              <a href="">Навчання</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__box">
        <div class="footer__info">
          <div class="footer__content">
            <div class="footer__content-title">
              <h3>Контакты</h3>
            </div>
            <svg>
              <use xlink:href="./img/sprite.svg#arrow"></use>
            </svg>
          </div>
          <ul class="footer__list">
            <li class="footer__item">
              <p>Україна, Київ, Майдан Незалежності, 2,</p>
              <p>Spaces Maidan Plaza, 02000</p>
            </li>
            <li class="footer__item">
              <a href="">+7 495 241 07 87 (Росія),</a>
            </li>
            <li class="footer__item">
              <a href="">+38 044 237 13 18 (Україна)</a>
            </li>
            <li class="footer__item">
              <a href="">info@geniusmarketing.me</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-text">
        <p>© Genius.Space Всі права захищені.</p>
      </div>
      <ul class="footer__documents">
        <li class="footer__document">
          <a href="">Умови надання послуг</a>
        </li>
        <li class="footer__document">
          <a href="">Політика конфіденційності</a>
        </li>
        <li class="footer__document">
          <a href="">Умови повернення</a>
        </li>
        <li class="footer__document">
          <a href="">Умови передзамовлення послуг</a>
        </li>
        <li class="footer__document">
          <a href="">Постачальники послуг</a>
        </li>
        <li class="footer__document">
          <a href="">Попередження</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

