<header class="header">
  <div class="header__container container">
    <a href="/" class="header__logo">
      <img src="img/static/logo.svg" alt="logo company" />
    </a>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a href="#">Спікери</a>
        </li>
        <li class="header__item">
          <a href="#">Програма</a>
        </li>
        <li class="header__item">
          <a href="#">Відгуки</a>
        </li>
        <li class="header__item">
          <a href="#">Записатись</a>
        </li>
      </ul>
    </nav>

    <div class="header__box">
      <button class="button header__box-button">Записатися на курс</button>

      <button class="header__burger">
        <span class="header__burger-span"></span>
        <span class="header__burger-span"></span>
        <span class="header__burger-span"></span>
      </button>
    </div>
  </div>
</header>

