<section class="program">
  <div class="container program__container">
    <div class="program__head">
      <div class="program__box">
        <div class="title title--h3 program__box-title">
          <h2>Програма курсу</h2>
        </div>
        <div class="program__box-text">
          <strong> Ви отримаєте </strong>
          <p>
            структуровані знання, тотальну практику та досвід найкращих спікерів у даному напрямку
          </p>
        </div>
      </div>
      <div class="program__box">
        <div class="program__box-subtitle">
          <p>Усього заплановано</p>
        </div>
        <ul class="program__conditions">
          <li class="program__condition">
            <div class="program__condition-value">
              <p>3</p>
            </div>
            <div class="program__condition-text">
              <p>мiсяцi</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <ul class="program__list">
      <li class="program__item">
        <!-- head -->
        <div class="program__block">
          <div class="title title--h3 program__item-title">
            <h3>Модуль 1. Основи штучного інтелекту</h3>
          </div>
          <div class="program__learning">@include('./app/learning.html')</div>
          <div class="program__element">
            <button class="program__element-button">Більше</button>
            <svg class="program__element-svg">
              <use xlink:href="./img/sprite.svg#arrow"></use>
            </svg>
          </div>
        </div>
        <!-- info -->
        <div class="program__info">
          <div class="program__options">
            <div class="program__options-title">
              <p>Уроки модулю</p>
            </div>
            <ul class="program__lessons">
              <li class="program__lesson">
                <div class="program__lesson-number">
                  <p>21 /</p>
                </div>
                <div class="program__lesson-text">
                  <p>Вступ до GPT та вибір ніші</p>
                </div>
              </li>
              <li class="program__lesson">
                <div class="program__lesson-number">
                  <p>22 /</p>
                </div>
                <div class="program__lesson-text">
                  <p>Аналіз конкурентів з допомогою ШІ</p>
                </div>
              </li>
              <li class="program__lesson">
                <div class="program__lesson-number">
                  <p>23 /</p>
                </div>
                <div class="program__lesson-text">
                  <p>Побудова контент-плану</p>
                </div>
              </li>
              <li class="program__lesson">
                <div class="program__lesson-number">
                  <p>24 /</p>
                </div>
                <div class="program__lesson-text">
                  <p>Сторітейлінг зі штучним інтелектом</p>
                </div>
              </li>
              <li class="program__lesson">
                <div class="program__lesson-number">
                  <p>25 /</p>
                </div>
                <div class="program__lesson-text">
                  <p>Оптимізація сторіс</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="program__descriptions">
            <div class="program__caption">
              <div class="program__caption-title">
                <p>Про що урок:</p>
              </div>
              <div class="program__caption-text">
                <p>
                  На цьому уроці ви дізнаєтесь, як працює ChatGPT і які можливості він відкриває для
                  створення контенту, роботи в соціальних мережах та вирішення бізнес-завдань.
                  Основна увага приділяється вибору ніші для вашої діяльності — це допоможе
                  ефективніше застосовувати інструменти штучного інтелекту та будувати стратегію
                  розвитку.
                </p>
              </div>
            </div>
            <div class="program__square">
              <div class="program__quarter">
                <div class="program__quarter-title">
                  <p>В результаті навчання ви:</p>
                </div>
                <ul class="program__roll">
                  <li class="program__roll-item">
                    <p>
                      Ви зрозумієте, як працює GPT і які завдання він може вирішувати у різних
                      сферах.
                    </p>
                  </li>
                  <li class="program__roll-item">
                    <p>Навчитесь визначати та обирати нішу, яка найкраще підходить саме вам.</p>
                  </li>
                  <li class="program__roll-item">
                    <p>
                      Зможете створити основу для подальшого просування у вибраній ніші з допомогою
                      AI.
                    </p>
                  </li>
                </ul>
              </div>
              <button class="button button--purple">Забронювати місце на курс</button>
            </div>
          </div>
        </div>
      </li>
      <li class="program__item">
        <!-- head -->
        <div class="program__block">
          <div class="title title--h3 program__item-title">
            <h3>Модуль 2. ШІ у SMM</h3>
          </div>
          <div class="program__learning">@include('./app/learning.html')</div>
          <div class="program__element">
            <button class="program__element-button">Більше</button>
            <svg class="program__element-svg">
              <use xlink:href="./img/sprite.svg#arrow"></use>
            </svg>
          </div>
        </div>
        <!-- info -->
        <div class="program__info">
          <div class="program__options">
            <div class="program__options-title">
              <p>Уроки модулю</p>
            </div>
            <ul class="program__lessons">
              <li class="program__lesson">
                <div class="program__lesson-number">
                  <p>21 /</p>
                </div>
                <div class="program__lesson-text">
                  <p>Вступ до GPT та вибір ніші</p>
                </div>
              </li>
              <li class="program__lesson">
                <div class="program__lesson-number">
                  <p>22 /</p>
                </div>
                <div class="program__lesson-text">
                  <p>Аналіз конкурентів з допомогою ШІ</p>
                </div>
              </li>
              <li class="program__lesson">
                <div class="program__lesson-number">
                  <p>23 /</p>
                </div>
                <div class="program__lesson-text">
                  <p>Побудова контент-плану</p>
                </div>
              </li>
              <li class="program__lesson">
                <div class="program__lesson-number">
                  <p>24 /</p>
                </div>
                <div class="program__lesson-text">
                  <p>Сторітейлінг зі штучним інтелектом</p>
                </div>
              </li>
              <li class="program__lesson">
                <div class="program__lesson-number">
                  <p>25 /</p>
                </div>
                <div class="program__lesson-text">
                  <p>Оптимізація сторіс</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="program__descriptions">
            <div class="program__caption">
              <div class="program__caption-title">
                <p>Про що урок:</p>
              </div>
              <div class="program__caption-text">
                <p>
                  На цьому уроці ви дізнаєтесь, як працює ChatGPT і які можливості він відкриває для
                  створення контенту, роботи в соціальних мережах та вирішення бізнес-завдань.
                  Основна увага приділяється вибору ніші для вашої діяльності — це допоможе
                  ефективніше застосовувати інструменти штучного інтелекту та будувати стратегію
                  розвитку.
                </p>
              </div>
            </div>
            <div class="program__square">
              <div class="program__quarter">
                <div class="program__quarter-title">
                  <p>В результаті навчання ви:</p>
                </div>
                <ul class="program__roll">
                  <li class="program__roll-item">
                    <p>
                      Ви зрозумієте, як працює GPT і які завдання він може вирішувати у різних
                      сферах.
                    </p>
                  </li>
                  <li class="program__roll-item">
                    <p>Навчитесь визначати та обирати нішу, яка найкраще підходить саме вам.</p>
                  </li>
                  <li class="program__roll-item">
                    <p>
                      Зможете створити основу для подальшого просування у вибраній ніші з допомогою
                      AI.
                    </p>
                  </li>
                </ul>
              </div>
              <button class="button button--purple">Забронювати місце на курс</button>
            </div>
          </div>
        </div>
      </li>
      <li class="program__item">
        <!-- head -->
        <div class="program__block">
          <div class="title title--h3 program__item-title">
            <h3>Модуль 3. ШІ у маркетингу</h3>
          </div>
          <div class="program__learning">@include('./app/learning.html')</div>
          <div class="program__element">
            <button class="program__element-button">Більше</button>
            <svg class="program__element-svg">
              <use xlink:href="./img/sprite.svg#arrow"></use>
            </svg>
          </div>
        </div>
        <!-- info -->
        <div class="program__info">
          <div class="program__options">
            <div class="program__options-title">
              <p>Уроки модулю</p>
            </div>
            <ul class="program__lessons">
              <li class="program__lesson">
                <div class="program__lesson-number">
                  <p>21 /</p>
                </div>
                <div class="program__lesson-text">
                  <p>Вступ до GPT та вибір ніші</p>
                </div>
              </li>
              <li class="program__lesson">
                <div class="program__lesson-number">
                  <p>22 /</p>
                </div>
                <div class="program__lesson-text">
                  <p>Аналіз конкурентів з допомогою ШІ</p>
                </div>
              </li>
              <li class="program__lesson">
                <div class="program__lesson-number">
                  <p>23 /</p>
                </div>
                <div class="program__lesson-text">
                  <p>Побудова контент-плану</p>
                </div>
              </li>
              <li class="program__lesson">
                <div class="program__lesson-number">
                  <p>24 /</p>
                </div>
                <div class="program__lesson-text">
                  <p>Сторітейлінг зі штучним інтелектом</p>
                </div>
              </li>
              <li class="program__lesson">
                <div class="program__lesson-number">
                  <p>25 /</p>
                </div>
                <div class="program__lesson-text">
                  <p>Оптимізація сторіс</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="program__descriptions">
            <div class="program__caption">
              <div class="program__caption-title">
                <p>Про що урок:</p>
              </div>
              <div class="program__caption-text">
                <p>
                  На цьому уроці ви дізнаєтесь, як працює ChatGPT і які можливості він відкриває для
                  створення контенту, роботи в соціальних мережах та вирішення бізнес-завдань.
                  Основна увага приділяється вибору ніші для вашої діяльності — це допоможе
                  ефективніше застосовувати інструменти штучного інтелекту та будувати стратегію
                  розвитку.
                </p>
              </div>
            </div>
            <div class="program__square">
              <div class="program__quarter">
                <div class="program__quarter-title">
                  <p>В результаті навчання ви:</p>
                </div>
                <ul class="program__roll">
                  <li class="program__roll-item">
                    <p>
                      Ви зрозумієте, як працює GPT і які завдання він може вирішувати у різних
                      сферах.
                    </p>
                  </li>
                  <li class="program__roll-item">
                    <p>Навчитесь визначати та обирати нішу, яка найкраще підходить саме вам.</p>
                  </li>
                  <li class="program__roll-item">
                    <p>
                      Зможете створити основу для подальшого просування у вибраній ніші з допомогою
                      AI.
                    </p>
                  </li>
                </ul>
              </div>
              <button class="button button--purple">Забронювати місце на курс</button>
            </div>
          </div>
        </div>
      </li>
      <li class="program__item">
        <!-- head -->
        <div class="program__block">
          <div class="title title--h3 program__item-title">
            <h3>Модуль 4. Візуальний ШІ: від фото до аватарів</h3>
          </div>
          <div class="program__learning">@include('./app/learning.html')</div>
          <div class="program__element">
            <button class="program__element-button">Більше</button>
            <svg class="program__element-svg">
              <use xlink:href="./img/sprite.svg#arrow"></use>
            </svg>
          </div>
        </div>
        <!-- info -->
        <div class="program__info">
          <div class="program__options">
            <div class="program__options-title">
              <p>Уроки модулю</p>
            </div>
            <ul class="program__lessons">
              <li class="program__lesson">
                <div class="program__lesson-number">
                  <p>21 /</p>
                </div>
                <div class="program__lesson-text">
                  <p>Вступ до GPT та вибір ніші</p>
                </div>
              </li>
              <li class="program__lesson">
                <div class="program__lesson-number">
                  <p>22 /</p>
                </div>
                <div class="program__lesson-text">
                  <p>Аналіз конкурентів з допомогою ШІ</p>
                </div>
              </li>
              <li class="program__lesson">
                <div class="program__lesson-number">
                  <p>23 /</p>
                </div>
                <div class="program__lesson-text">
                  <p>Побудова контент-плану</p>
                </div>
              </li>
              <li class="program__lesson">
                <div class="program__lesson-number">
                  <p>24 /</p>
                </div>
                <div class="program__lesson-text">
                  <p>Сторітейлінг зі штучним інтелектом</p>
                </div>
              </li>
              <li class="program__lesson">
                <div class="program__lesson-number">
                  <p>25 /</p>
                </div>
                <div class="program__lesson-text">
                  <p>Оптимізація сторіс</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="program__descriptions">
            <div class="program__caption">
              <div class="program__caption-title">
                <p>Про що урок:</p>
              </div>
              <div class="program__caption-text">
                <p>
                  На цьому уроці ви дізнаєтесь, як працює ChatGPT і які можливості він відкриває для
                  створення контенту, роботи в соціальних мережах та вирішення бізнес-завдань.
                  Основна увага приділяється вибору ніші для вашої діяльності — це допоможе
                  ефективніше застосовувати інструменти штучного інтелекту та будувати стратегію
                  розвитку.
                </p>
              </div>
            </div>
            <div class="program__square">
              <div class="program__quarter">
                <div class="program__quarter-title">
                  <p>В результаті навчання ви:</p>
                </div>
                <ul class="program__roll">
                  <li class="program__roll-item">
                    <p>
                      Ви зрозумієте, як працює GPT і які завдання він може вирішувати у різних
                      сферах.
                    </p>
                  </li>
                  <li class="program__roll-item">
                    <p>Навчитесь визначати та обирати нішу, яка найкраще підходить саме вам.</p>
                  </li>
                  <li class="program__roll-item">
                    <p>
                      Зможете створити основу для подальшого просування у вибраній ніші з допомогою
                      AI.
                    </p>
                  </li>
                </ul>
              </div>
              <button class="button button--purple">Забронювати місце на курс</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
