<section class="start">
  <div class="container start__container">
    <div class="start__bg">
      <img src="img/static/start-bg.png" alt="decor image" />
    </div>
    <div class="start__block">
      <div class="start__box">
        <div class="start__box-text">
          <p>
            Почніть навчатися вже зараз, оплату робіть частинами. Комфортний формат розстрочки:
            <span> від 2 до 12 місяців*</span>
          </p>
        </div>
      </div>

      <div class="start__counter">
        <div class="start__counter-title">
          <p>Пропозиція діє до:</p>
        </div>
        <div class="start__counter-value">
          <p>14</p>
        </div>
        <div class="start__counter-date">
          <p>лютого</p>
        </div>
      </div>

      <div class="start__info">
        <div class="start__info-title">
          <p>Як отримати розстрочку?</p>
        </div>
        <ul class="start__list">
          <li class="start__item">
            <div class="start__item-text">
              <p>Залишіть заявку на участь та переходьте до оплати</p>
            </div>
          </li>
          <li class="start__item">
            <div class="start__item-text">
              <p>Вибери спосіб оплати у розстрочку (WayForPay)</p>
            </div>
          </li>
          <li class="start__item">
            <div class="start__item-text">
              <p>Оплачуйте частинами без переплат через:</p>
            </div>

            <div class="start__images">
              <div class="start__image">
                <img src="img/static/banks/privat.png" alt="bank logo" />
              </div>
              <div class="start__image">
                <img src="img/static/banks/mono.png" alt="bank logo" />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
