<section class="tariffs">
  <div class="container tariffs__container">
    <div class="title title--h2 tariffs__title">
      <h2>Пакети</h2>
      <span>навчання з AI</span>
    </div>

    <div class="swiper tariffs__swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper tariffs__wrapper">
        <!-- Slides -->
        <div class="swiper-slide tariffs__slide">
          <div class="tariffs__box tariffs__box--accent">
            <div class="tariffs__head">
              <h3>Standard</h3>
            </div>
            <div class="tariffs__info">
              <div class="tariffs__info-title">
                <h4>Підійде тим, хто хоче:</h4>
              </div>
              <ul class="tariffs__list">
                <li class="tariffs__item">
                  <p>зрозуміти, що таке AI та звідки він з’явився</p>
                </li>
                <li class="tariffs__item">
                  <p>дізнатися про найпопулярніші інструменти та як ними користуватися</p>
                </li>
                <li class="tariffs__item">
                  <p>навчитися застосовувати AI у житті</p>
                </li>
                <li class="tariffs__item">
                  <p>
                    опанувати базові навички: створення зображень і відео, автоматизація процесів,
                    написання промтів, робота з ChatGPT
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="text tariffs__slide-text">
            <p>Ідеально для тих, хто тільки починає знайомство з AI.</p>
          </div>
        </div>
        <div class="swiper-slide tariffs__slide">
          <div class="tariffs__box tariffs__box--yellow">
            <div class="tariffs__head">
              <h3>Pro</h3>
            </div>
            <div class="tariffs__info">
              <div class="tariffs__info-title">
                <h4>У цьому пакеті ви отримуєте:</h4>
              </div>
              <ul class="tariffs__list">
                <li class="tariffs__item">
                  <p>базовий блок з основами AI</p>
                </li>
                <li class="tariffs__item">
                  <p>один напрям на вибір: AI у SMM, AI у маркетингу, генерація фото та відео</p>
                </li>
              </ul>
              <div class="tariffs__info-title">
                <h4>Пакет підійде тим, хто:</h4>
              </div>
              <ul class="tariffs__list">
                <li class="tariffs__item">
                  <p>вже знайомий з темою AI або хоче швидко перейти від теорії до практики</p>
                </li>
                <li class="tariffs__item">
                  <p>має конкретну сферу діяльності та прагне інтегрувати AI саме туди</p>
                </li>
                <li class="tariffs__item">
                  <p>хоче підсилити свою професію чи навички сучасними інструментами</p>
                </li>
                <li class="tariffs__item">
                  <p>
                    прагне швидко отримати результати — від автоматизації рутини до створення
                    контенту чи маркетингових рішень
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="swiper-slide tariffs__slide">
          <div class="tariffs__box tariffs__box--yellow">
            <div class="tariffs__head">
              <h3>Pro</h3>
            </div>
            <div class="tariffs__info">
              <div class="tariffs__info-title">
                <h4>У цьому пакеті ви отримуєте:</h4>
              </div>
              <ul class="tariffs__list">
                <li class="tariffs__item">
                  <p>зрозуміти, що таке AI та звідки він з’явився</p>
                </li>
                <li class="tariffs__item">
                  <p>дізнатися про найпопулярніші інструменти та як ними користуватися</p>
                </li>
                <li class="tariffs__item">
                  <p>навчитися застосовувати AI у житті</p>
                </li>
                <li class="tariffs__item">
                  <p>
                    опанувати базові навички: створення зображень і відео, автоматизація процесів,
                    написання промтів, робота з ChatGPT
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination tariffs__pagination"></div>
    </div>
  </div>
</section>
